body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: brown;   
}

.header {
    color: black;
}

.header h1 {
    font-size: 50px;
}
h2 {
    font-size: 30px;
}

p {
    font-size: 16px;
}